<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
    <style>
        .edit_person_form{
            display: flex;
            flex-direction: column;
            width: 40%;
        }
        .header_edit{
            text-align: center;
            color: dimgrey;
        }
        .error_edit{
            color: red;
        }
    </style>
</head>
<body>
<h1 class="header_edit">Edit Person</h1>
<form class="edit_person_form" th:method="PATCH" th:action="@{/persons/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="firstName">Enter firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div class="error_edit" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstNameError</div>
    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div class="error_edit" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastNameError</div>
    <label for="email">Enter Email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div class="error_edit" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">emailError</div>
    <label for="phoneNumber">Enter phoneNumber: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
    <div class="error_edit" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumberError</div>
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login">
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <div sec:authorize="hasRole('SUPER-ADMIN')">
        <label for="role">Enter role: </label>
        <input type="text" th:field="*{role}" id="role">
    </div>
    <br>
    <input type="submit" value="Update Person">
</form>
</body>
</html>