<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
Id: <p th:text="${person.getId()}">Id</p>
First Name: <p th:text="${person.getFirstName()}">firstName</p>
Last Name: <p th:text="${person.getLastName()}">lastName</p>
Email: <p th:text="${person.getEmail()}">email</p>
Phone Number: <p th:text="${person.getPhoneNumber()}">phoneNumber</p>
<a th:href="@{/persons/{id}/edit(id=${person.getId()})}">Edit Person</a>

<form th:method="DELETE" th:action="@{/persons/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete Person">
</form>

</body>
</html>