<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${product.getId()})}" th:object="${product}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title">
    <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price">
    <br>
    <input type="submit" value="Update Product">
</form>
</body>
</html>